.tablePosts{
        width: 100%;
        background-color:white;
        color: #64748B;
        border-radius: 10px;
}
.edit{
        background-color: #39903a;
        color: white;
        padding: 10px 17px;
        border: 0px;
        border-radius: 5px;
      }
.delete{
        background-color: #e8254f;
        color: white;
        padding: 10px;
        border: 0px;
        border-radius: 5px;
      }
.managePost{
        display:flex;
        gap:10px;
      }
      